*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#container{
    background: -webkit-gradient(linear,left top,right top,from(#e61eb6),to(#20007e));
    background: linear-gradient(90deg,#e61eb6,#20007e);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#i{
    font-size: 42px;
}
#in,#li,#gh,#db
{
    padding: 18px;
}

#in{    
    color: #e61eb6;
}
#li{
    color: #1756bb;
}
#gh{
    color: black;
}
#db{
    color: #e61e82;
}
#About img{
    height: 500px;
    width: 400;
    margin: 5px;
}
#About p { 
    text-align: justify;  
} 
.img{
    height: 80px;
}
.butn span,.butn1 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    outline: none;
  }
#bg-gradient-blue-to-purple {
      background: -webkit-gradient(linear,left top,right top,from(#e61eb6),to(#20007e));
      z-index: 1001;   
}
.floatingNav {
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,.2);
  }
.butn span::after{
    content: '\00bb';
}
.butn1 span::after{
    content: '\2193';
  }
.butn span::after,.butn1 span::after{
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  .butn:hover span,.butn1:hover span {
    padding-right: 20px;
  }
  
  .butn:hover span:after,.butn1:hover span:after {
    opacity: 1;
    right: 0;
  }
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/Images/wave.png);
    background-size: 1000px 100px;
}
.wave.wave1{
    animation: flow 15s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave.wave2{
    animation: flow1 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0;
}
.wave.wave3{
    animation: flow3 7s linear infinite;
    z-index: 998;
    opacity: 0.4;
    animation-delay: -2s;
    bottom: 0;
}
.wave.wave4{
    animation: flow4 7s linear infinite;
    z-index: 997;
    opacity: 0.3;
    animation-delay: -5s;
    bottom: 0;
}
@keyframes flow{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:1000px;
    }
}
@keyframes flow1{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:-1000px;
    }
}
@keyframes flow3{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:1000px;
    }
}
@keyframes flow4{
    0%{
        background-position-x:0;
    }
    100%{
        background-position-x:-1000px;
    }
}
